.form-group
  label(for="place") location name
  input.form-control(type="text", name="place", placeholder="place", value=item.place)
.form-group
  label(for="title") title
  input.form-control(type="text", name="title", placeholder="title", value=item.title)
.from-group
  label(for="price") price
  input.form-control(type="text", name = "price", value = item.price)
.form-group
  label(for="content") explanation
  textarea.form-control(name="content", rows="5",placeholder="place explanation",value= item.content)
.form-group
  label(for="course") tour course
  textarea.form-control(name="course", rows="8",placeholder="tour course",value= item.course)