.form-group
  label(for="place") How many people 
  input.form-control(type="text", name="people", placeholder="How many?", value=order.people)
.form-group
  label(for="title") TourDate
  input.form-control(type="text", name="tourDate", placeholder="Tour Reservation Date", value=order.tourDate)
.from-group
  label(for="price") Totalprice
  input.form-control(type="text", name = "totPrice", placeholder="Total Price", value =order.totPrice)
